# Folder use for the coverage
/build/

# IntelliJ project files (should on developer pc not here)
.idea
*.iml

## Never send vendor
/vendor/

# Commit your application's lock file https://getcomposer.org/doc/01-basic-usage.md#composer-lock-the-lock-file
# You may choose to ignore a library lock file https://getcomposer.org/doc/02-libraries.md#lock-file
composer.lock

## Temporary test files

/tests/tmp/*
## Phpunit and cs-fixer cache file
.phpunit.result.cache
.php-cs-fixer.cache
