includes:
  - vendor/phpstan/phpstan-phpunit/extension.neon
  - vendor/phpstan/phpstan-phpunit/rules.neon

parameters:
  level: 8
  checkMissingIterableValueType: false
  paths:
    - src
    - tests
  ignoreErrors:
    -
      message: "#^Unreachable statement - code above always terminates.$#"
      path: tests/Integration/ApiFoodTest.php