includes:
  - vendor/phpstan/phpstan-phpunit/extension.neon
  - vendor/phpstan/phpstan-phpunit/rules.neon

parameters:
  level: max
  checkMissingIterableValueType: false
  ignoreErrors:
    - '/.*is not subtype of Throwable/'
  paths:
    - src
    - tests
