<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.3/phpunit.xsd" backupGlobals="false" colors="true" bootstrap="vendor/autoload.php">
  <coverage>
    <report>
      <clover outputFile="./build/logs/clover.xml"/>
      <html outputDirectory="./build/coverrage"/>
    </report>
  </coverage>
  <php>
    <ini name="error_reporting" value="-1"/>
    <server name="KERNEL_CLASS" value="AppKernel"/>
  </php>
  <testsuites>
    <testsuite name="AllTests">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <logging>
    <junit outputFile="./build/logs/junit.xml"/>
    <testdoxHtml outputFile="./build/logstestdox.html"/>
  </logging>
  <source>
    <include>
      <directory>src</directory>
    </include>
  </source>
</phpunit>
